{% extends "base.html" %}

    {% block head %}
    <style>
        #board {
            display: table;
            margin: 0;
            padding: 0;
            border-spacing: 5px;
        }
        .section {
            display: table-cell;
            margin: 0;
            border: 1px solid #666;
            padding: 5px;
            width: 280px;
        }
        .section.small {
            width: 140px;
        }
        .section.droppable {
            border: 1px dashed #666;
        }
        .section > h1 {
            margin: 0;
            border-bottom: 1px solid #999;
            padding: 0;
            font-size: 12pt;
            text-align: center;
        }
        .card, .placeholder {
            display: inline-block;
            vertical-align: top;
            margin: 10px 8px;
            padding: 10px;
            width: 100px;
            height: 100px;
            color: black;
            background: #ff8;
            cursor: move;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            box-shadow: 2px 2px 2px #eee;
        }
        .placeholder {
            border: 1px solid orange;
            border-style: dashed;
            background-color: transparent;
        }
        .hide-placeholder{
            .myPlaceholder {
                visibility:hidden;/*display:none*/
            }
        } 
        input[type=submit] {
            width: 150px;
        }           
    </style>
    <script>
        $( function() {
            var dragItem, dragTarget;
            $( "#todo, #doing, #done, #remove" ).sortable({
                items: '.card',
                connectWith: ".section",
                placeholder: "placeholder myPlaceholder",
                greedy: true,
                over: function( event, ui ) {
                    $(this).addClass("droppable");
                },
                out: function( event, ui ) {
                    $(this).removeClass("droppable");
                },
                receive: function( event, ui ) {
                    dragItem = ui.item.attr("id");
                    dragTarget = this.id;
                    if (this.id != 'remove') {
                        $.ajax({
                            url: '/updatestat',
                            data: {
                                'card_id': dragItem, 
                                'section': dragTarget
                            },
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    } else {
                        $.ajax({
                            url: '/remove',
                            data: {'card_id': dragItem},
                            type: 'POST',
                            success: function(response) {
                                $("#" + dragItem).fadeOut(function(){
                                    $("#" + dragItem).remove();
                                });
                                console.log(response);
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    }
                },
            }).disableSelection();

            // Can't submit form here since it would result in name and
            // value being separately inserted.
            // e.g. [{'name': 'todoitem', 'value': 'test'}]
            $("#add_item").submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: '/add',
                    type: 'POST',
                    data: $("#add_item").serialize(),
                    success: function(data) {
                        console.log(data);
                        $('#' + data.session).append(
                            "<div id=\'" + 
                            data.card_id +
                            "\' class=\'card\'>" +
                            data.text +
                            "</div>"
                        );
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        } );
    </script>
    {% endblock %}

    {% block content %}
    <div id="board">
        <div id="todo" class="section">
            <h1>To Do</h1>
            {% for task in todo %}
                <div id="{{ task.id }}" class="card">{{ task.text }}</div>
            {% endfor %}
        </div>
        <div id="doing" class="section">
            <h1>Doing</h1>
            {% for task in doing %}
                <div id="{{ task.id }}" class="card">{{ task.text }}</div>
            {% endfor %}
        </div>
        <div id="done" class="section">
            <h1>Done</h1>
            {% for task in done %}
                <div id="{{ task.id }}" class="card">{{ task.text }}</div>
            {% endfor %}
        </div>
        <div id="remove" class="section small">
            <h1>Dust Bin</h1>
        </div>
    </div>

    <div> 
        <form id="add_item" action="">
            <input type="text" name="card_text" placeholder="Add a new item..">
            <input type="submit" value="Submit">
        </form>
    </div>
    {% endblock %}
 